.band-image {
    width: 100%;
}

.band-vid {
    width: 410px;
    height: 300px;
    margin: 5px;
}

#second-row {
    margin-left: 2px;
}

#fist-row {
    margin-left: 12px;
}
.card-header:first-child{
/*border: 2px solid black;*/
border-top: 2px solid;
border-left: 2px solid;
border-right: 2px solid;
background: white;
border-top-left-radius: 20px;
}
h4{
	margin-left: 30px;
}
.card-body{
	color: #eeeeee;
background: #333333;
border-left: 2px solid #222222;
border-bottom: 2px solid;
border-right: 2px solid;
}
.accordian{
	background: #333333;
}
.black{
	color: white;
	background-color: #222;
	border: 2px solid black;
}
.white{
	color:black;
	background-color: white;
	border: 2px solid black;
}